*{
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
    background-image:url(fotos/huellas.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*Letra pgina*/
@font-face {
    font-family: 'roboto';
    src: url('letra/roboto-regular.ttf');
}

@font-face {
    font-family: 'robotoblack';
    src: url('letra/roboto-black.ttf');
}
/*Fin Letra pgina*/


/*Menu*/

.padre-menu {
	display: flex; /* menu flex*/
	flex-direction: row; /*orientación x*/	
	flex-wrap: nowrap; /*se elinean los hijos al tamaño del padre */
	width: 100%;
    background-color: #16A596; /*color de fondo*/

}

@media screen and (max-width: 768px) {
    .padre-menu{
        flex-direction: column;
        align-items: center;
    }
}

.padre-menu img{
    width: 200px;
}

@media screen and (max-width: 768px) {
    .padre-menu img{
        height: 60px;
    }
}

.hijo-menu{
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: flex-end; /*organiza al extremo derecho*/
    
}

@media screen and (max-width: 768px) {
    .hijo-menu{
        flex-direction: column;
    }
}


.hijo-menu li{
    list-style-type: none;
    padding: 20px;
    font-size: 15px;
    font-family: 'robotoblack'; 
    
 
}

.hijo-menu li:hover{
    transform: scale(1.5,1.5);
}


 



@media screen and (max-width: 768px) {
    .hijo-menu li{
        flex-direction: column;
        text-align: center;
        padding: 5px;
    }
}

.hijo-menu li a{
    text-decoration: none;
    color: white;
    


}

/*Fin Menu*/


.titulo{
    font-family:'robotoblack';
    text-align: center;
    color: #16A596;
}

/*Parrafos*/

.fondoparrafo{
    background-color: #F6F5F1;
    border: solid 1px  #16A596;
    padding: 3%;
    margin: 5%;

}

.parrafo{
    font-size: normal;
    font-family: 'roboto';
    text-align: justify;
}



/*Parrafos*/

.padre-imagenportada{
    display: flex;
    width: 100%;
}

 .padre-imagenportada .imgPortada{
    width:100%;
}

/*Sección tu historia*/

    /*intrucciones*/

/*.intrucciones{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color:#F6F5F1;
     }*/

.grid-tuhistoria{
    margin: 20px;
    background-color: #F6F5F1;
    display: grid;
    grid-template-columns:50px 8fr 50px;
    grid-template-rows: 1.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    row-gap:10px;
    

}

@media screen and (max-width: 768px) {
    #grid-tuhistoria{
        grid-template-rows: 1.5fr 0.5fr 1.5fr 0.5fr 0.5fr;
    }
}


.titulo-tuhistoria{
    grid-column: 2/3;
    font-family: 'robotoblack';
    color: #16A596;
    font-size: 25px;
    text-align: center;
}


.spanred {
    background:#16A596;
     border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.6em;
    text-align:center;
    width: 1.6em; 
    font-family: 'robotoblack';
    margin-left: 10px;

 }

.item1{
    grid-column: 1/3;
    grid-row: 2/5;
    
    
}

    .item1-text{
        grid-column: 2/3;
        grid-row: 2/5;
    }

.item2{
    grid-column: 1/3;
    grid-row: 3/5;
}

    .item2-text{
        grid-column: 2/3;
        grid-row: 3/5;
    }


.item3{
    grid-column: 1/3;
    grid-row: 4/5;
}

    .item3-text{
        grid-column: 2/3;
        grid-row: 4/5;
    }


.item4{
    grid-column: 1/3;
    grid-row: 5/5;
}

    .item4-text{
        grid-column: 2/3;
        grid-row: 5/5;
    }


.texto-instrucciones{
    font-family: 'roboto';
}

.texto-instrucciones:hover{
    text-decoration: underline;
}


   

    /*fin intruccioned*/

    /*historia*/

.padre-historias{
    display: flex; /* menu flex*/
	flex-direction: row; /*orientación x*/	
	flex-wrap: wrap; /*se elinean los hijos al tamaño del padre */
	width: 100%;
    justify-content: space-around;


    
}

.hijo-padrehistorias{
    display: grid;
    background-color: white;
    grid-template-rows: 30px 1fr;
    grid-template-columns: 1fr 2fr;
    margin: 1%;
    align-items: center;
    
}



@media screen and (max-width: 768px) {
    .hijo-padrehistorias{
        grid-template-rows:0.5fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

.padre-historias .hijo-padrehistorias{
    width: 550px;
}

.padre-historias .hijo-padrehistorias h1{
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    font-family: 'robotoblack';
    color: #16A596;
    

}

@media screen and (max-width: 768px) {
    h1{
        grid-row: 1/3;
        grid-column: 1/1;
        text-align:none;
    }
}

section article img{
    margin: 1%;
    width: 250px;
    grid-row: 2/2;
    grid-column: 1/2;
}

section article img:hover{
    transform: scale(1.2,1.2);
    transition: 1s;

}

@media screen and (max-width: 768px) {
    section article img{
        grid-row: 2/3;
        grid-column: 1/1;

    }
}

section article p{
    grid-row: 2/2;
    grid-column: 2/2;
    font-family: 'roboto';
    text-align: justify;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    section article p{
        grid-row: 3/3;
        grid-column: 1/1;

    }
}
/*ol li{
    width: 100%;
    position: none;
 }

 .historiafondo{
    background-color: white;
    width: 60%;
    height: 210px;
    display: inline-block
 }

 .historiafondo2{
    margin-left: 500px;
    background-color: white;
    width: 60%;
    height: 210px;
    display: inline-block;
    
 }

 .fotoizq{
    float:left;
    padding: 10px;
    margin: 10px
 }

 .fotoder{
    float:right;
    padding: 10px;
    margin: 10px
 }

.Nombre{
    font-family: 'robotoblack';
    color:#F94C66;
    padding: 10px;
    margin: 10px;   
}
.texto{
    padding: 10px;
    margin: 10px;
    font-family: 'roboto';
    color: #898B8A;
    text-align: justify;
}

    /*fin historias*/

/*Fin Sección tu historia*/
/*Sección fundaciones*/
/*
.ubicacion{
    display: inline-block;
    margin-left: 520px;
}
.fondofundacion{
    background-color: white;
    width: 1000px;
    padding: 5%;
    margin: 5%;
    display: inline-block;
}
.logofundacion{
    width:300px;
    padding: 10px;
    margin-left: 300px;
    
}
/*Sección fundaciones*/

/*Blog*/
/*
.imagencentro{
text-align: center;
}

.fondonoticia{
    background-color: white;
    width: 379px;
    height: 400px;
    padding: 5%;
    margin: 5%;
    float: left;
}

.noticia{
    width:300px;
    padding: 5px;
    margin: 5px;}
.titulonoticia{
    text-align: center;
    color: #16A596;
    font-family: 'robotoblack'
}

.textonoticia{
    text-align: justify;
   
    font-family: 'roboto'
}
*/